# ====================
# Run Configuration
# ====================
run: 
  name: LM_test
  runs_dir: ./runs

# ====================
# Training Parameters
# ====================
train:
  steps: 100
  lr: 0.0001

# ====================
# Model Configuration
# ====================
model:
  d_model: 512
  num_heads: 4
  num_encoder_layers: 2
  num_decoder_layers: 2
  dropout: 0.1

# ====================
# Dataset Configuration
# ====================
data:
  dataset: tiny_shakespeare
  batch_size: 8
  vocab_size: 256
  block_size: 256

# ====================
# Logging Parameters
# ====================
logging:

  wandb:
    enable: 1
    save_ckpt: 0

  sampling:
    prompt: "ROMEO\n"
    max_tokens: 256

  loss_interval: 1
  ckpt_interval: 50000
  sample_interval: 25